.organization-page
  @extends .project-page
  font-family: 'Karla', sans-serif

.organization-hero
  min-height: 200px
  padding-top: 20vh

  &__container
    align-items: center
    display: flex

  &__avatar
    height: 8em
    margin: 0 3em 0 8em
    width: 8em

  &__title
    font-size: 2.5em
    font-weight: bold

  &__description
    font-size: 1em
    font-weight: normal

.organization-projects
  background-color: BACKGROUND_COLOR
  padding: 1em 0 2.5em

.organization-details
  background-color: TEAL_MID
  display: flex

.organization-talk
  width: 33.3vw
  padding: 2em 4em
  background-color: #ffffff
  color: #0c4881

  &__title
    text-transform: uppercase

  &__content
    padding: 1em 0

.organization-intro
  width: 66.6vw
  padding: 2em 4em

  &__title
    text-transform: uppercase

  &__content

    .markdown
      p
        text-align: left

.organization-metadata
  @extends .project-metadata

  &__title
    text-transform: uppercase

.organization-metadata-stats
  @extends .project-metadata-stats

.organization-metadata-stat
  @extends .project-metadata-stat

  &__value
    @extends .project-metadata-stat__value

  &__label
    @extends .project-metadata-stat__label

.organization-blog
  @extends .organization-intro

  &__title
    text-transform: uppercase

  &__content
    padding: 1em 0

.organization-social-media
  @extends .organization-talk

  &__icon-links
    @extends $reset-button
    text-decoration: none

.alternate-button // not working yet
  background: transparent
  border: 2px solid #ffffff
  color: #ffffff
