.organization-metadata-about-container
  font: 400 16px/1.5 Karla, sans-serif
  display: flex

.organization-metadata
  padding: 2em
  width: 33.3vw
  color: #0c4881

  h1
    text-transform: uppercase;

.organization-about
  padding: 2em
  width: 66.6vw
  background-color: #007482
  color: #ffffff

  p
    padding: 1em 0

.organization-metadata-stat__value
  font-weight: 700
  text-decoration: underline
  padding-top: 1em
