.workflow-rules-list
  .workflow-rule-list__rule-enable
    float: left
    margin-top: 2em
    margin-right: 0.5em
  .workflow-rule-list__rule-description
    text-indent: 1.5em
  .workflow-rule-list__rule-option
    text-indent: 1.5em
