.workflow-rules-list
  .workflow-rule-list__rule-enable
    float: left
    margin-right: 0.5em
    margin-top: 0.7em
    &:first-of-type
      margin-top: 2em
  .workflow-rule-list__rule-description
    margin-left: 1.5em
  .workflow-rule-list__rule-option
    margin-left: 1.5em
